{% extends 'base.html' %}
{% block title %}
    <title>个人相册</title>
{% endblock %}

{% block content %}


    <div class="container">
        <div class="con_content">
            <div class="about_box">
                <h2 class="nh1"><span>您现在的位置是：<a href="/" target="_blank">网站首页</a>>><a href="#" target="_blank">个人相册</a></span><b>个人相册</b>
                </h2>
                <div class="lispic">
                    <ul>
                        <li><a href="/"><img src="/static/images/01.jpg"><span>图片展示</span></a></li>
                        <li><a href="/"><img src="/static/images/02.jpg"><span>图片展示</span></a></li>
                        <li><a href="/"><img src="/static/images/03.jpg"><span>图片展示</span></a></li>
                        <li><a href="/"><img src="/static/images/04.jpg"><span>图片展示</span></a></li>
                        <li><a href="/"><img src="/static/images/03.jpg"><span>图片展示</span></a></li>
                        <li><a href="/"><img src="/static/images/06.jpg"><span>图片展示</span></a></li>
                        <li><a href="/"><img src=" /static/images/01.jpg"><span>图片展示</span></a></li>
                        <li><a href="/"><img src="/static/images/02.jpg"><span>图片展示</span></a></li>
                    </ul>
                </div>
                <div class="pagelist">页次：1/1 每页25 总数10<a href="/">首页</a><a href="/">上一页</a><a href="/">下一页</a><a
                        href="/">尾页</a></div>
            </div>
        </div>
        <div class="blank"></div>
        <!-- container代码 结束 -->
    </div>
{% endblock %}